.login {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSofsmvJXpf1TFRvk7HZ7v27HgGzTm_e1OiYY3tSn3BrQ&s');
    background-size: cover;
}
.LoginTitle{
    font-size: 50px;
}
.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.loginForm >label {
    margin: 10px 0;
    
}
.loginForm >input {
    padding: 10px;
    background-color: white;
    border: none;
    
}

.loginBtn {
    margin-top: 20px;   
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.loginBtn:disabled {
    cursor: not-allowed;
    background-color: rgb(243, 168, 168);

}
.registerBtn {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}